.evoker__log {
  color: #15df30;
  padding: 5px 7px;
  background-color: #333;
  background-color: #222;
  line-height: 1.5;
  font-size: 12px;
  /*font-family: "Ubuntu Mono"; sans-serif;*/
  border: 1px solid #000;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 19px;
  white-space: pre;
  letter-spacing: 0.1em;
}
  .evoker__color--log { color: #15df30; }
  .evoker__color--warn { color: rgb(245, 228, 38); }
  .evoker__color--error { color: rgb(255, 52, 52); }

.evoker__vision {
  margin-bottom: 10px;
}
  .evoker__runBtn {
    background-color: #3d3d3e;
    background-color: #9ED94A;
    color: #76daff;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    width: 60px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
  }
