.evoker__log {
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #15df30;
  padding: 15px 7px;
  background-color: #333;
  background-color: #222;
  line-height: 1.5;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  min-height: 48px;
  white-space: pre;
  letter-spacing: 0.1em;
  max-height: 210px;
  box-sizing: border-box;
  overflow: scroll;
}
  .evoker__color--log { color: #15df30; }
  .evoker__color--log { color: #fff; }
  .evoker__color--log:before ,
  .evoker__color--warn:before ,
  .evoker__color--error:before {
    content: "\003e\00a0"; /* "> " */
    color: #2EAEEC;
  }
  .evoker__color--warn { color: rgb(245, 228, 38); }
  .evoker__color--error { color: rgb(255, 52, 52); }

.evoker__vision {
  max-width: 500px;
  margin-bottom: 30px;
}
.evoker__caption {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
}
.evoker__description {
  font-size: 14px;
  background-color: #222;
  color: #eee;
  padding: 15px 10px 25px;
  line-height: 18px;
  white-space: pre;
  overflow: auto;
}
.evoker__btn {
  position: relative;
  height: 7px;
  background-color: #343434;
  width: 100%;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.5), inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
}
  .evoker__runBtn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /*bottom: 100%;*/
    margin-top: -15px;
    background-color: #3d3d3e;
    background-color: #9ED94A;
    color: #76daff;
    color: #222;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    width: 80px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1;
  }

.evoker__tabs {
  box-sizing: border-box;
  width: 100%;
  background-color: #111;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
  color: #9ED94A;
}
  .evoker__tab {
    padding: 10px 16px;
    /*line-height: 40px;*/
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    /*width: 25%;*/
    vertical-align: top;
  }
  .evoker__tab:hover {
    background-color: #9ED94A;
    color: #111;
  }
  .evoker__tab.evoker__tab--active {
    background-color: #9ED94A;
    color: #111;
  }
  .evoker__tab--active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #9ED94A;
    border-top-width: 8px;
    margin: auto;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
  }

.evoker__content {
  display: none;
}
.evoker__content.evoker__content--active {
  display: block;
}
